<app-titlebar>
  <h6 class="m-0">All Posts</h6>
  <div class="action">
    <button mat-stroked-button (click)="showForm()">
      <mat-icon>{{isCreatePost? 'visibility': 'add'}}</mat-icon>{{isCreatePost? 'View Post': 'Add Post'}}
    </button>
    @if(isCreatePost){
      <button mat-stroked-button class="mx-2" (click)="publishForm()">Publish</button>
      <button mat-stroked-button (click)="drawer.toggle()"><mat-icon>settings</mat-icon></button>
    }
  </div>
</app-titlebar>


<mat-drawer-container class="h-100">
  <mat-drawer #drawer position="end" mode="side" opened="opened">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Summary</mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Category</mat-expansion-panel-header>
        @for (data of allCategory; track $index) {
          <mat-checkbox class="w-100" color="primary" (change)="setAll(data,$event)">{{data.category}}</mat-checkbox>
        }
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Tags</mat-expansion-panel-header>
        @for (data of allTabs; track $index) {
          <mat-checkbox class="w-100" color="primary" (change)="setAll(data,$event)">{{data.category}}</mat-checkbox>
        }
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Feature Images</mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-drawer>

  <div class="p-3">
    <form [formGroup]="createForm">
        <div class="mb-3"><input type="text" placeholder="Page Title" [formControlName]="'title'"></div>
        <editor apiKey="fddlzgy72eptnd9vo08urwuxq7pwypcti9297g1jtqwu4t1r" [formControlName]="'description'" [init]="tinymceConfig"></editor>
    </form>
  </div>

</mat-drawer-container>

