<mat-toolbar color="primary" class="w-100 d-flex justify-content-between">
    <div class="logomenu d-flex align-items-center">
        <button mat-icon-button (click)="menuToggled.emit(true)"><mat-icon>menu</mat-icon></button>
        <span class="mx-4">Logo</span>
    </div>
    <div class="navmenu">

    </div>
    <div class="rightheader d-flex align-items-center">
        <button mat-button routerLink="/signin">Login</button>
        <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
    </div>
</mat-toolbar>
  